body {
  background-color: black;
}


/*.display-row {
  height: 100px;
}*/

.calculator {
  margin-bottom: 50px;
}

.number-display {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#lower-display {
  font-size: .75em;
}

.row {
  font-size: 2.5em;
}

.number-display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: gray;
  color: white;
}



.number-display p {
  padding-right: 10px;
}

.number {
  background-color: gray;
  color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.operator {
  background-color: orange;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}


.operator-equals {
  background-color: orange;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-bottom-right-radius: 7px;
}

.zero {
  border-bottom-left-radius: 7px;
}


 .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  padding: 0;
}
